/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  @include themify($themes) {
    background-color: themed('bgColor');  
  }
  display: flex;
  justify-content: space-between;
  
  .nav-pages-container {
    display: flex;
    justify-content: flex-end;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    background-color: transparent;
    @include themify($themes) {
      color: themed('textHeadingColor');  
    }
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $nav-font-family;
    @include relative-font-size(1.2);
  }

  .page-link.current, .page-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
}

a.page-link:hover {
  background-color: transparent !important;
  border: none !important;
}

a.page-link:focus {
  outline: 0;
  box-shadow: none!important;
}

/**
 * Site footer
 */

.footer-container {
  display: flex;
  flex-direction: column;
}
.site-footer {
  margin-top: auto;
  border-top: 1px solid $grey-color-light;
  bottom: 0;
  @include themify($themes) {
    background: themed('bgColor');  
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
/**
 * Banner
 */

.cover-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  @include themify($themes) {
    background-color: themed('bgColor');  
  }
}

.cover-banner {
  position: relative;
}

.home {
  -webkit-mask: url(/assets/home/home-hk.svg) no-repeat center/auto 85vh;
  mask: url(/assets/home/home-hk.svg) no-repeat center/auto 85vh;
  height: 90vh;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  @include themify($themes) {
    background-color: themed('imgOutlineColor');  
  }
}

.me {
  background-image: url(/assets/home/me-0.svg);
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: auto 60%;
  width: 100vw;
  animation-fill-mode: forwards;
  animation-name: me-sayin-hello;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes me-sayin-hello {
  0%   {background-image: url(/assets/home/me-1.svg)}
  23%  {background-image: url(/assets/home/me-1.svg)}
  25%  {background-image: url(/assets/home/me-2.svg)}
  47%  {background-image: url(/assets/home/me-2.svg)}
  50%  {background-image: url(/assets/home/me-3.svg)}
  73%  {background-image: url(/assets/home/me-3.svg)}
  75%  {background-image: url(/assets/home/me-4.svg)}
  98%  {background-image: url(/assets/home/me-4.svg)}
  100% {background-image: url(/assets/home/me-5.svg)}
}

.face {
  background-image: url(/assets/home/whole-face.svg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: 45% 50%;
  background-size: auto 20%;
  width: auto;
}

// Light switch 
// https://codepen.io/gracechin/pen/abaamgJ

.switch-input {
  display: none;
}

#light-switch {
  &:checked ~ #light-switch-label {
    .switch {
       margin-top: 4%;
    }
  }
}

.box {
  position: absolute;
  top: 30%;
  margin-left: 250px;
  left: 50%;
  display: block;
  width: 50px;
  height: 50px;
}

.platform {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 80%;
  @include themify($themes) {
    background: themed('bgColor');  
    border: solid 1px themed('imgOutlineColor');  
  }
  border-radius: 3%;
}

.light-switch {
  .button {
    margin: auto;
    margin-top: 20%;
    width: 60%;
    height: 60%;
    @include themify($themes) {
      background: themed('imgOutlineColor');  
      border: solid 1px themed('imgOutlineColor');  
    }
    border-radius: 5%;
  }

  .switch {
    margin: auto;
    position: relative;
    width: 100%;
    height: 95%;
    border-radius: 5%;
    @include themify($themes) {
      background-color: themed('bgColor');  
    }
  }

  .light {
    position: absolute;
    margin: auto;
    margin-left: 45%;
    margin-top: 70%;
    width: 10%;
    height: 5%;
    border-radius: 25%;
    @include themify($themes) {
      background: themed('imgOutlineColor');  
    }
  }
}


/**
 * Page content
 */
.page-content {
  flex: 1;
  @include themify($themes) {
    background: themed('bgColor');  
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  color: $primary-color;
}

.project-item {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin-bottom: $spacing-unit;

  .project-text-box {
    text-align: left;

    .project-title {
      @include themify($themes) {
        color: themed('textHeadingColor');  
      }
      letter-spacing: 0.5px;
      font-weight: 600;
      @include relative-font-size(1.2);
      font-family: $subheading-font-family;
      font-style: normal;
      margin-top: 10px;
    }

    .description {
      @include themify($themes) {
        color: themed('textColor');  
      }
      @include relative-font-size(0.9);
      font-family: $paragraph;
      font-weight: normal;
      margin-bottom: $spacing-unit*0.5;
    }

    .skills {
      @include relative-font-size(0.8);
      font-weight: normal;
      @include themify($themes) {
        color: tint(themed('textColor'),  30%);  
      }
    }
  }
}

.project-item:hover {
  @include themify($themes) {
    background-color: themed('itemHoverColor');  
  }

  img {
    @include themify($themes) {
      background-color: themed('bgColor');  
    }
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  margin-top: $spacing-unit;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.projects-content, .posties-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.post-item {
  position: relative;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  font-family: $blog-paragraph;
  font-size: $base-font-weight;
  @include themify($themes) {
    color: themed('textHeadingColor');  
  }

  a {
    @include themify($themes) {
      color: themed('textColor');  
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.post-item:hover {
  @include themify($themes) {
    background-color: themed('itemHoverColor');  
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $base-font-weight;
  @include themify($themes) {
    color: themed('textColor');  
  }
}

.posties-content {
  font-family: $blog-paragraph;
  @include themify($themes) {
    color: themed('textColor');  
  }
  img { border: 1px solid $secondary-color-dark;}
}

.video-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}