/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  .trigger {
    display: flex;
    justify-content: space-between;
  }

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    background-color: transparent;
    color: $primary-color;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $nav-font-family;
    @include relative-font-size(1.7);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .page-link.current, .page-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
}

a.page-link:hover {
  background-color: transparent !important;
  border: none !important;
}

a.page-link:focus {
  outline: 0;
  box-shadow: none!important;
}

/**
 * Site footer
 */

.footer-container {
  display: flex;
  flex-direction: column;
}
.site-footer {
  margin-top: auto;
  border-top: 1px solid $grey-color-light;
  bottom: 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.scroll-container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
/**
 * Banner
 */

.cover-banner {
  background-image: url(/assets/home/home-hk.svg);
  height: 95vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  width: auto;
}

.me {
  background-image: url(/assets/home/me-0.svg);
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: auto 60%;
  width: 100vw;
  animation-fill-mode: forwards;
  animation-name: me-sayin-hello;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes me-sayin-hello {
  0%   {background-image: url(/assets/home/me-1.svg)}
  23%  {background-image: url(/assets/home/me-1.svg)}
  25%  {background-image: url(/assets/home/me-2.svg)}
  47%  {background-image: url(/assets/home/me-2.svg)}
  50%  {background-image: url(/assets/home/me-3.svg)}
  73%  {background-image: url(/assets/home/me-3.svg)}
  75%  {background-image: url(/assets/home/me-4.svg)}
  98%  {background-image: url(/assets/home/me-4.svg)}
  100% {background-image: url(/assets/home/me-5.svg)}
}

.face {
  background-image: url(/assets/home/whole-face.svg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: 45% 50%;
  background-size: auto 20%;
  width: auto;
}

// Light switch 
// https://codepen.io/gracechin/pen/abaamgJ

.switch-input {
  display: none;
}

#light-switch {
  &:checked ~ #light-switch-label {
    .switch {
       margin-top: 4%;
      .light {
        background: red;
      }
    }
  }
}

.box {
  position: absolute;
  top: 30%;
  margin-left: 250px;
  left: 50%;
  display: block;
  width: 50px;
  height: 50px;
}

.platform {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 80%;
  background: $background-color;
  border: solid 1px $primary-color;
  border-radius: 3%;
}

.button {
  margin: auto;
  margin-top: 20%;
  width: 60%;
  height: 60%;
  background: $primary-color;
  border: solid 1px $primary-color;
  border-radius: 5%;
}

.switch {
  margin: auto;
  position: relative;
  width: 100%;
  height: 95%;
  background: $background-color;
  border-radius: 5%;
}

.light {
  position: absolute;
  margin: auto;
  margin-left: 45%;
  margin-top: 70%;
  background: $primary-color;
  width: 10%;
  height: 5%;
  border-radius: 25%;
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  color: $primary-color;
}

.project-item {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin-bottom: $spacing-unit;

  .project-text-box {
    text-align: left;

    .project-title {
      color: $primary-color;
      letter-spacing: 0.5px;
      font-weight: 600;
      @include relative-font-size(1.2);
      font-family: $subheading-font-family;
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .description {
      color: $text-color;
      @include relative-font-size(1);
      font-family: $paragraph;
      font-weight: normal;
    }
  }
}

.project-item:hover {
  background-color: $secondary-color-light;
}

.post-item {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  .post-text-box {
    text-align: left;

    .post-title {
      color: $primary-color;
      letter-spacing: 0.5px;
      font-weight: 600;
      @include relative-font-size(1.2);
      font-family: $subheading-font-family;
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .description {
      color: $text-color;
      @include relative-font-size(1);
      font-family: $paragraph;
      font-weight: normal;
    }
  }
}

.post-item:hover {
  background-color: $secondary-color-light;
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta-light {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  margin-top: $spacing-unit;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.projects-content, .posties-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.posties-content {
  font-family: $blog-paragraph;
  
  img { border: 1px solid $secondary-color-dark;}
}