---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    <h3>{{page.description}}</h3>
  {%- endif -%}

  {{ content }}

  <p>
    {%- if page.nav_items -%}
    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
  </p>

  {%- if site.projects.size > 0 -%}
    <h2 class="post-list-heading">Projects</h2>
    <div>
      {%- for project in site.projects -%}
      <div class="post-item row">
        <div class="post-icon">
          <img src="{{ site.url }}/assets/icons/{{ project.icon }}">
        </div>
        <div class="col">
          {%- if project.external_link -%}
          <a class="post-link" href="{{ project.external_link }}">
          {%- else -%}
          <a class="post-link" href="{{ project.url | relative_url }}">
          {%- endif -%}
            {{ project.title | escape }}
            <span class="post-meta">
              | {{project.dates}}
            </span> 
          </a>
          {%- if project.description -%} 
            <span class="post-meta">
            {{ project.description }} 
            </span>
          {%- endif -%}
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Posts</h2>
    <div>
      {%- for post in site.posts -%}
      <div class="post-item row">
        <div class="">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            <span class="post-meta">
              | {{post.dates}}
            </span> 
          </a>
          {%- if post.description -%} 
            <span class="post-meta">
            {{ post.description }} 
            </span>
          {%- endif -%}
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
