<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
  <main id="app-root" class="theme-light">
    <div class="home scroll-container">
      <div class="section">
        {%- include header.html -%}
        <div class="cover-banner">
          <div class="me">
          </div>
          <input type="checkbox" id="light-switch" class="switch-input"/>
          <label for="light-switch" class="box" id="light-switch-label">
              <div class="platform">
                <div class="button">
                  <div class="switch">
                    <div class="light"></div>
                  </div>
              </div>
          </label>
        </div>
      </div>

      <div class="section dark about">
        <div class="wrapper">
          <h2>{{ page.about_section_title }}</h2>
          <div class="content">{{ content }}</div>
        </div>
      </div>

      {%- if site.projects.size > 0 -%}
      <div class="section projects">
        <div class="wrapper">
          <h2 class="post-list-heading">Projects</h2> 
          <div class="row">
            {% assign ordered_projects = site.projects | sort: 'dates' | reverse %}
            {%- for project in ordered_projects -%}
            {% if project.external_link %}
            {% assign link = project.external_link %}
            {% else %}
            {% assign link = project.url %}
            {% endif %}
            <a href="{{ link | relative_url }}" class="project-item col-md-4 col-12" style="text-decoration:none;">
              <img src="{{ site.url }}/assets/icons/{{ project.icon }}">
              <div class="project-text-box">
                <div class="project-title">{{ project.title | escape }}</div>
                <div class="description">{{ project.description | escape }}</div>
              </div>
            </a>
            {%- endfor -%}
          </div>
        </div>
        <div class="footer-container">
          {%- include footer.html -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </main>
  <script>
    const lightSwitch = document.getElementById('light-switch');
    const appRoot = document.getElementById('app-root');
    
    lightSwitch.addEventListener("change", (event) => {
      if (lightSwitch.checked) {
        appRoot.classList.remove("theme-dark");
        appRoot.classList.add("theme-light");
      } else {
        appRoot.classList.add("theme-dark");
        appRoot.classList.remove("theme-light");

      }
    });
  </script>
</body>
</html>