<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
  <main id="app-root" class="theme-light">
    {%- include header.html -%}
    <div class="cover-container">
      <div class="cover-banner">
        <div class="home"></div>
        <div class="me"></div>
        <input type="checkbox" id="light-switch" class="switch-input" checked/>
        <label for="light-switch" class="box light-switch" id="light-switch-label">
            <div class="platform">
              <div class="button">
                <div class="switch">
                  <div class="light"></div>
                </div>
            </div>
        </label>
      </div>
    </div>
  </main>
  {%- include theme_change.html -%}
</body>
</html>