@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@600;700;800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 400;
  color: #2e2f26;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #b73c55;
}

hr {
  color: grey;
  margin: 20px 0;
}

pre,
code {
  background-color: rgb(253, 246, 227);
  border-radius: 1px;
  color: #e83e8c;
  padding: 1px 5px;
  font-size: 0.9em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

span {
  color: grey;
}

a {
  color: #b73c55;
  text-decoration: none;
}
a:hover {
  text-decoration: #b73c55 underline 3px;
}

button {
  border: 2px solid #b73c55;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  color: #b73c55;
  margin: 20px 0;
}
button:hover {
  background-color: #b73c55;
  color: white;
}

/* Navigation bar */
.wrapper {
  margin: 0 5%;
}

nav > ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
nav > ul a {
  color: #b73c55;
  text-decoration: none;
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  pointer-events: auto;
}
nav > ul li {
  display: inline;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 1.25em;
  text-transform: uppercase;
  pointer-events: none;
}
nav > ul li:has(> a):hover {
  background-color: #b73c55;
}
nav > ul li:has(> a):hover a {
  color: white;
}
nav > ul li.nav-brand {
  border: 2px solid #b73c55;
}

/* Home */
.home .card {
  margin: 20px 0;
  color: white;
  padding: 40px;
  background-color: #b73c55;
  border-radius: 30px;
}
.home .card h1 {
  font-size: 2em;
  color: white;
}
.home .card .card-container {
  max-width: 650px;
  margin: auto;
  font-size: 1.25em;
}

/* Post List */
.post-list {
  margin: 5%;
}
.post-list h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
.post-list ul {
  list-style-type: none;
  padding: 0;
}
.post-list ul .icon {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  margin: 0;
  margin-right: 16px;
}
.post-list ul .icon img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.post-list ul h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.post-list ul span {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.post-list ul p {
  margin-top: 10px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Post page */
.post article {
  max-width: 700px;
  margin: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300px;
  line-height: 25px;
}
.post article hr {
  border: 1px solid #b73c55;
}
.post article header h1 {
  font-size: 2em;
}
.post article a {
  color: #b73c55;
}
.post nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post nav .right {
  text-align: right;
  right: 0;
  margin-left: 5px;
}
.post nav .left {
  text-align: left;
  left: 0;
  margin-right: 5px;
}
.post img {
  border: 2px solid #8fa3c4;
  border-radius: 5px;
}

/* Media */
img {
  max-width: 100%;
  vertical-align: middle;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  color: grey;
}

.video-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tag page */
.tag-page {
  max-width: 800px;
  margin: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: right;
  text-align: center;
  margin: 20px;
}

.github-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url(/assets/icon/github.svg);
  vertical-align: baseline;
  margin: 5px;
}

.linkedin-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url(/assets/icon/linkedin.svg);
}

.email {
  margin: 5px;
}

/* Home page banner */
.cover-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.cover-container .cover-banner {
  position: relative;
  border-radius: 30px;
}
.cover-container .cover-banner .home {
  -webkit-mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  height: 90vh;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  background-color: #b73c55;
}
.cover-container .cover-banner .me {
  background-image: url(/assets/about/me-0.svg);
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: auto 60%;
  width: 100vw;
  animation-fill-mode: forwards;
  animation-name: me-sayin-hello;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes me-sayin-hello {
  0% {
    background-image: url(/assets/about/me-1.svg);
  }
  23% {
    background-image: url(/assets/about/me-1.svg);
  }
  25% {
    background-image: url(/assets/about/me-2.svg);
  }
  47% {
    background-image: url(/assets/about/me-2.svg);
  }
  50% {
    background-image: url(/assets/about/me-3.svg);
  }
  73% {
    background-image: url(/assets/about/me-3.svg);
  }
  75% {
    background-image: url(/assets/about/me-4.svg);
  }
  98% {
    background-image: url(/assets/about/me-4.svg);
  }
  100% {
    background-image: url(/assets/about/me-5.svg);
  }
}
.switch-input {
  display: none;
}

.light-switch {
  z-index: 1;
  position: absolute;
  top: 30%;
  margin-left: 250px;
  left: 50%;
  display: block;
  width: 5vh;
  height: 5vh;
}
.light-switch .platform {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 80%;
  background: white;
  border: solid 1px #b73c55;
  border-radius: 3%;
}
.light-switch .platform .button {
  margin: auto;
  margin-top: 20%;
  width: 60%;
  height: 60%;
  background: #b73c55;
  border: solid 1px #b73c55;
  border-radius: 5%;
}
.light-switch .platform .switch {
  margin: auto;
  position: relative;
  width: 100%;
  height: 95%;
  border-radius: 5%;
  background-color: white;
}
.light-switch .platform .light {
  position: absolute;
  margin: auto;
  margin-left: 45%;
  margin-top: 70%;
  width: 10%;
  height: 5%;
  border-radius: 25%;
  background: #b73c55;
}

.about {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}
.about h1 {
  text-transform: uppercase;
}
.about p {
  line-height: 1.5em;
}

@keyframes moveSide1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveSide2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
#light-switch:checked ~ .cover-container .cover-banner {
  background-color: #2e2f26;
}
#light-switch:checked ~ .cover-container .home {
  background-color: #ddd;
}
#light-switch:checked ~ .cover-container .me {
  filter: brightness(0.75);
}
#light-switch:checked ~ .cover-container .me:after {
  content: "";
  background: radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent);
  background-position: 24% 2% , 61% 41% , 64% 96% , 95% 65% , 22% 58% , 77% 58% , 8% 5% , 49% 20% , 30% 4% , 45% 67% , 98% 100% , 26% 47% , 98% 51% , 92% 50% , 88% 81% , 7% 36% , 41% 32% , 18% 84% , 97% 18% , 71% 20% , 84% 26% , 30% 36% , 19% 67% , 40% 74% , 96% 42% , 81% 21% , 27% 47% , 89% 58% , 31% 66% , 93% 62% , 33% 99% , 6% 87% , 81% 40% , 5% 62% , 27% 100% , 93% 65% , 71% 56% , 78% 80% , 95% 37% , 8% 2% , 22% 91% , 4% 73% , 65% 16% , 14% 59% , 46% 73% , 64% 3% , 29% 16% , 19% 8% , 98% 47% , 12% 35% , 5% 16% , 77% 57% , 36% 85% , 73% 62% , 62% 18% , 78% 99% , 39% 45% , 60% 86% , 82% 9% , 93% 68% , 85% 82% , 92% 15% , 64% 72% , 82% 30% , 71% 54% , 76% 20% , 70% 13% , 21% 30% , 66% 37% , 89% 94% , 3% 6% , 42% 76% , 88% 38% , 100% 17% , 20% 75% , 32% 91% , 28% 72% , 72% 73% , 3% 9% , 5% 35%;
  background-size: 82px 82px , 104px 104px , 116px 116px , 82px 82px , 117px 117px , 99px 99px , 88px 88px , 111px 111px , 111px 111px , 71px 71px , 109px 109px , 102px 102px , 89px 89px , 108px 108px , 107px 107px , 95px 95px , 70px 70px , 100px 100px , 100px 100px , 106px 106px , 62px 62px , 114px 114px , 116px 116px , 74px 74px , 94px 94px , 67px 67px , 77px 77px , 67px 67px , 101px 101px , 110px 110px , 117px 117px , 102px 102px , 81px 81px , 74px 74px , 112px 112px , 120px 120px , 66px 66px , 63px 63px , 119px 119px , 104px 104px , 91px 91px , 110px 110px , 110px 110px , 103px 103px , 91px 91px , 98px 98px , 65px 65px , 114px 114px , 71px 71px , 103px 103px , 73px 73px , 101px 101px , 111px 111px , 90px 90px , 93px 93px , 114px 114px , 86px 86px , 65px 65px , 69px 69px , 110px 110px , 97px 97px , 86px 86px , 61px 61px , 81px 81px , 106px 106px , 69px 69px , 112px 112px , 63px 63px , 79px 79px , 109px 109px , 87px 87px , 87px 87px , 66px 66px , 117px 117px , 77px 77px , 119px 119px , 71px 71px , 116px 116px , 70px 70px , 73px 73px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide1 10s linear infinite;
}
#light-switch:checked ~ .cover-container .me:before {
  content: "";
  background: radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent);
  background-position: 99% 39% , 21% 89% , 81% 12% , 67% 75% , 76% 86% , 47% 40% , 32% 82% , 42% 26% , 41% 18% , 44% 35% , 26% 15% , 7% 43% , 56% 57% , 15% 55% , 98% 89% , 33% 93% , 74% 30% , 51% 1% , 86% 84% , 97% 50% , 37% 65% , 51% 31% , 77% 40% , 53% 44% , 62% 69% , 7% 92% , 6% 78% , 90% 12% , 75% 58% , 79% 87% , 52% 96% , 54% 85% , 42% 70% , 70% 82% , 65% 73% , 77% 10% , 50% 59% , 68% 62% , 82% 35% , 47% 97% , 26% 37% , 83% 66% , 43% 54% , 2% 49% , 71% 42% , 88% 53% , 61% 88% , 8% 74% , 91% 96% , 5% 73% , 89% 16% , 55% 9% , 36% 56% , 85% 29% , 95% 96% , 44% 89% , 91% 63% , 60% 76% , 50% 24% , 22% 44% , 43% 24% , 95% 34% , 79% 99% , 6% 1% , 52% 69% , 35% 66% , 11% 70% , 94% 81% , 41% 86% , 96% 1% , 27% 51% , 31% 24% , 7% 22% , 9% 61% , 80% 99% , 98% 65% , 91% 56% , 19% 25% , 74% 36% , 35% 51%;
  background-size: 76px 76px , 105px 105px , 80px 80px , 114px 114px , 100px 100px , 91px 91px , 68px 68px , 116px 116px , 100px 100px , 118px 118px , 76px 76px , 72px 72px , 99px 99px , 85px 85px , 61px 61px , 75px 75px , 85px 85px , 113px 113px , 72px 72px , 67px 67px , 100px 100px , 94px 94px , 120px 120px , 100px 100px , 71px 71px , 63px 63px , 101px 101px , 70px 70px , 65px 65px , 109px 109px , 103px 103px , 114px 114px , 80px 80px , 85px 85px , 65px 65px , 94px 94px , 105px 105px , 103px 103px , 74px 74px , 71px 71px , 90px 90px , 81px 81px , 90px 90px , 68px 68px , 84px 84px , 81px 81px , 64px 64px , 62px 62px , 119px 119px , 69px 69px , 120px 120px , 69px 69px , 89px 89px , 69px 69px , 109px 109px , 65px 65px , 92px 92px , 112px 112px , 83px 83px , 94px 94px , 120px 120px , 85px 85px , 80px 80px , 101px 101px , 85px 85px , 93px 93px , 95px 95px , 64px 64px , 82px 82px , 75px 75px , 69px 69px , 77px 77px , 101px 101px , 113px 113px , 106px 106px , 109px 109px , 84px 84px , 61px 61px , 78px 78px , 81px 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide2 10s linear infinite;
}

#light-switch:checked ~ #light-switch-label .platform {
  background: #2e2f26;
  border: solid 1px #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .button {
  background: #ddd;
  border-color: #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .switch {
  background-color: #2e2f26;
  margin-top: 4%;
}
#light-switch:checked ~ #light-switch-label .platform .light {
  background: yellow;
}

/** Media responsiveness **/
@media only screen and (max-width: 625px) {
  #light-switch,
  #light-switch-label {
    display: none;
  }
}