@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@600;700;800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 400;
  color: #2e2f26;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #b73c55;
}

hr {
  color: grey;
  margin: 20px 0;
}

pre,
code {
  background-color: rgb(253, 246, 227);
  border-radius: 1px;
  color: #e83e8c;
  padding: 1px 5px;
  font-size: 0.9em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

blockquote {
  font-size: 1.3em;
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  color: #2e2f26;
  margin: 0;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #b73c55;
  line-height: 1.6;
  position: relative;
  background: #f4e2e6;
}

blockquote::before {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  content: "“";
  color: #b73c55;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

span {
  color: grey;
}

a {
  color: #b73c55;
  text-decoration: none;
}
a:hover {
  text-decoration: #b73c55 underline 3px;
}

button {
  border: 2px solid #b73c55;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  color: #b73c55;
  margin: 20px 0;
}
button:hover {
  background-color: #b73c55;
  color: white;
}

/* Navigation bar */
.wrapper {
  margin: 0 5%;
}

nav > ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
nav > ul a {
  color: #b73c55;
  text-decoration: none;
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  pointer-events: auto;
}
nav > ul li {
  display: inline;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 1.25em;
  text-transform: uppercase;
  pointer-events: none;
}
nav > ul li:has(> a):hover {
  background-color: #b73c55;
}
nav > ul li:has(> a):hover a {
  color: white;
}
nav > ul li.nav-brand {
  border: 2px solid #b73c55;
}

/* Home */
.home .card {
  margin: 20px 0;
  color: white;
  padding: 40px;
  background-color: #b73c55;
  border-radius: 30px;
}
.home .card h1 {
  font-size: 2em;
  color: white;
}
.home .card .card-container {
  max-width: 650px;
  margin: auto;
  font-size: 1.25em;
}

/* Post List */
.post-list {
  margin: 5%;
}
.post-list h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
.post-list ul {
  list-style-type: none;
  padding: 0;
}
.post-list ul .icon {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  margin: 0;
  margin-right: 16px;
}
.post-list ul .icon img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.post-list ul h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.post-list ul span {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.post-list ul p {
  margin-top: 10px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Post page */
.post article {
  max-width: 700px;
  margin: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300px;
  line-height: 25px;
}
.post article hr {
  border: 1px solid #b73c55;
}
.post article header h1 {
  font-size: 2em;
}
.post article a {
  color: #b73c55;
}
.post nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post nav .right {
  text-align: right;
  right: 0;
  margin-left: 5px;
}
.post nav .left {
  text-align: left;
  left: 0;
  margin-right: 5px;
}
.post img {
  border: 2px solid #8fa3c4;
  border-radius: 5px;
}

/* Media */
img {
  max-width: 100%;
  vertical-align: middle;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  color: grey;
}

.video-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tag page */
.tag-page {
  max-width: 800px;
  margin: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: right;
  text-align: center;
  margin: 20px;
}

.github-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url(/assets/icon/github.svg);
  vertical-align: baseline;
  margin: 5px;
}

.linkedin-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url(/assets/icon/linkedin.svg);
}

.email {
  margin: 5px;
}

/* Home page banner */
.cover-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.cover-container .cover-banner {
  position: relative;
  border-radius: 30px;
}
.cover-container .cover-banner .home {
  -webkit-mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  height: 90vh;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  background-color: #b73c55;
}
.cover-container .cover-banner .me {
  background-image: url(/assets/about/me-0.svg);
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: auto 60%;
  width: 100vw;
  animation-fill-mode: forwards;
  animation-name: me-sayin-hello;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes me-sayin-hello {
  0% {
    background-image: url(/assets/about/me-1.svg);
  }
  23% {
    background-image: url(/assets/about/me-1.svg);
  }
  25% {
    background-image: url(/assets/about/me-2.svg);
  }
  47% {
    background-image: url(/assets/about/me-2.svg);
  }
  50% {
    background-image: url(/assets/about/me-3.svg);
  }
  73% {
    background-image: url(/assets/about/me-3.svg);
  }
  75% {
    background-image: url(/assets/about/me-4.svg);
  }
  98% {
    background-image: url(/assets/about/me-4.svg);
  }
  100% {
    background-image: url(/assets/about/me-5.svg);
  }
}
.switch-input {
  display: none;
}

.light-switch {
  z-index: 1;
  position: absolute;
  top: 30%;
  margin-left: 250px;
  left: 50%;
  display: block;
  width: 5vh;
  height: 5vh;
}
.light-switch .platform {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 80%;
  background: white;
  border: solid 1px #b73c55;
  border-radius: 3%;
}
.light-switch .platform .button {
  margin: auto;
  margin-top: 20%;
  width: 60%;
  height: 60%;
  background: #b73c55;
  border: solid 1px #b73c55;
  border-radius: 5%;
}
.light-switch .platform .switch {
  margin: auto;
  position: relative;
  width: 100%;
  height: 95%;
  border-radius: 5%;
  background-color: white;
}
.light-switch .platform .light {
  position: absolute;
  margin: auto;
  margin-left: 45%;
  margin-top: 70%;
  width: 10%;
  height: 5%;
  border-radius: 25%;
  background: #b73c55;
}

.about {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}
.about h1 {
  text-transform: uppercase;
}
.about p {
  line-height: 1.5em;
}

@keyframes moveSide1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveSide2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
#light-switch:checked ~ .cover-container .cover-banner {
  background-color: #2e2f26;
}
#light-switch:checked ~ .cover-container .home {
  background-color: #ddd;
}
#light-switch:checked ~ .cover-container .me {
  filter: brightness(0.75);
}
#light-switch:checked ~ .cover-container .me:after {
  content: "";
  background: radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent);
  background-position: 53% 11% , 23% 41% , 1% 47% , 53% 72% , 91% 82% , 73% 30% , 91% 7% , 37% 55% , 100% 96% , 35% 96% , 25% 82% , 66% 14% , 41% 67% , 87% 70% , 5% 22% , 39% 90% , 100% 8% , 6% 1% , 25% 66% , 18% 60% , 63% 71% , 89% 14% , 47% 94% , 12% 57% , 69% 94% , 79% 35% , 71% 60% , 64% 42% , 72% 39% , 77% 67% , 67% 18% , 52% 12% , 21% 73% , 56% 42% , 45% 97% , 64% 5% , 86% 77% , 8% 32% , 77% 20% , 95% 77% , 77% 1% , 96% 51% , 56% 96% , 18% 71% , 44% 52% , 30% 20% , 18% 55% , 47% 40% , 88% 63% , 64% 18% , 91% 13% , 94% 52% , 36% 64% , 100% 50% , 87% 31% , 91% 43% , 9% 84% , 26% 62% , 47% 57% , 41% 75% , 39% 74% , 50% 18% , 95% 30% , 18% 84% , 34% 33% , 77% 90% , 45% 97% , 12% 72% , 28% 30% , 58% 14% , 53% 38% , 54% 38% , 33% 94% , 95% 40% , 75% 67% , 63% 67% , 4% 21% , 23% 31% , 8% 16% , 35% 67%;
  background-size: 97px 97px , 98px 98px , 82px 82px , 109px 109px , 98px 98px , 87px 87px , 97px 97px , 76px 76px , 117px 117px , 90px 90px , 68px 68px , 72px 72px , 62px 62px , 61px 61px , 110px 110px , 88px 88px , 94px 94px , 105px 105px , 68px 68px , 118px 118px , 115px 115px , 113px 113px , 81px 81px , 85px 85px , 104px 104px , 67px 67px , 68px 68px , 119px 119px , 64px 64px , 98px 98px , 65px 65px , 116px 116px , 110px 110px , 78px 78px , 68px 68px , 106px 106px , 68px 68px , 69px 69px , 119px 119px , 86px 86px , 85px 85px , 82px 82px , 93px 93px , 96px 96px , 87px 87px , 85px 85px , 102px 102px , 109px 109px , 62px 62px , 84px 84px , 83px 83px , 97px 97px , 78px 78px , 105px 105px , 73px 73px , 87px 87px , 120px 120px , 85px 85px , 82px 82px , 114px 114px , 74px 74px , 63px 63px , 88px 88px , 94px 94px , 115px 115px , 63px 63px , 74px 74px , 71px 71px , 77px 77px , 119px 119px , 73px 73px , 93px 93px , 100px 100px , 103px 103px , 96px 96px , 83px 83px , 90px 90px , 100px 100px , 113px 113px , 62px 62px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide1 10s linear infinite;
}
#light-switch:checked ~ .cover-container .me:before {
  content: "";
  background: radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent);
  background-position: 77% 16% , 91% 48% , 84% 81% , 9% 19% , 90% 42% , 28% 54% , 27% 65% , 45% 85% , 13% 68% , 7% 90% , 78% 88% , 2% 21% , 15% 65% , 49% 67% , 45% 8% , 82% 73% , 77% 31% , 89% 26% , 70% 21% , 94% 19% , 56% 29% , 20% 83% , 76% 39% , 5% 54% , 38% 51% , 57% 94% , 55% 43% , 57% 81% , 13% 46% , 7% 83% , 71% 71% , 33% 71% , 92% 4% , 32% 72% , 97% 83% , 46% 69% , 63% 34% , 55% 44% , 92% 78% , 20% 24% , 74% 30% , 20% 10% , 40% 51% , 67% 37% , 88% 74% , 40% 51% , 8% 49% , 59% 66% , 56% 5% , 88% 89% , 43% 83% , 10% 79% , 72% 13% , 52% 37% , 42% 76% , 63% 46% , 53% 41% , 25% 58% , 23% 9% , 17% 10% , 63% 82% , 78% 56% , 36% 55% , 39% 46% , 55% 74% , 88% 79% , 19% 27% , 80% 2% , 3% 12% , 46% 98% , 85% 53% , 87% 92% , 13% 26% , 4% 19% , 36% 76% , 50% 50% , 7% 98% , 67% 24% , 85% 39% , 8% 37%;
  background-size: 87px 87px , 87px 87px , 107px 107px , 81px 81px , 120px 120px , 70px 70px , 79px 79px , 65px 65px , 82px 82px , 93px 93px , 120px 120px , 106px 106px , 93px 93px , 95px 95px , 62px 62px , 95px 95px , 115px 115px , 81px 81px , 105px 105px , 113px 113px , 70px 70px , 79px 79px , 78px 78px , 75px 75px , 74px 74px , 111px 111px , 74px 74px , 80px 80px , 87px 87px , 77px 77px , 78px 78px , 62px 62px , 88px 88px , 96px 96px , 71px 71px , 118px 118px , 76px 76px , 117px 117px , 95px 95px , 119px 119px , 88px 88px , 118px 118px , 108px 108px , 91px 91px , 115px 115px , 91px 91px , 115px 115px , 113px 113px , 78px 78px , 85px 85px , 65px 65px , 88px 88px , 77px 77px , 70px 70px , 71px 71px , 62px 62px , 105px 105px , 78px 78px , 85px 85px , 64px 64px , 115px 115px , 95px 95px , 79px 79px , 120px 120px , 74px 74px , 93px 93px , 79px 79px , 90px 90px , 99px 99px , 104px 104px , 62px 62px , 116px 116px , 68px 68px , 77px 77px , 107px 107px , 94px 94px , 92px 92px , 87px 87px , 118px 118px , 105px 105px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide2 10s linear infinite;
}

#light-switch:checked ~ #light-switch-label .platform {
  background: #2e2f26;
  border: solid 1px #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .button {
  background: #ddd;
  border-color: #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .switch {
  background-color: #2e2f26;
  margin-top: 4%;
}
#light-switch:checked ~ #light-switch-label .platform .light {
  background: yellow;
}

/** Media responsiveness **/
@media only screen and (max-width: 625px) {
  #light-switch,
  #light-switch-label {
    display: none;
  }
}