@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=League+Spartan:wght@600;700;800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-weight: 400;
  color: #2e2f26;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #b73c55;
}

hr {
  color: grey;
  margin: 20px 0;
}

pre,
code {
  background-color: rgb(253, 246, 227);
  border-radius: 1px;
  color: #e83e8c;
  padding: 1px 5px;
  font-size: 0.9em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

span {
  color: grey;
}

a {
  color: #b73c55;
  text-decoration: none;
}
a:hover {
  text-decoration: #b73c55 underline 3px;
}

button {
  border: 2px solid #b73c55;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 1em;
  font-weight: bold;
  color: #b73c55;
  margin: 20px 0;
}
button:hover {
  background-color: #b73c55;
  color: white;
}

/* Navigation bar */
.wrapper {
  margin: 0 5%;
}

nav > ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
nav > ul a {
  color: #b73c55;
  text-decoration: none;
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  pointer-events: auto;
}
nav > ul li {
  display: inline;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid transparent;
  font-size: 1.25em;
  text-transform: uppercase;
  pointer-events: none;
}
nav > ul li:has(> a):hover {
  background-color: #b73c55;
}
nav > ul li:has(> a):hover a {
  color: white;
}
nav > ul li.nav-brand {
  border: 2px solid #b73c55;
}

/* Home */
.home .card {
  margin: 20px 0;
  color: white;
  padding: 40px;
  background-color: #b73c55;
  border-radius: 30px;
}
.home .card h1 {
  font-size: 2em;
  color: white;
}
.home .card .card-container {
  max-width: 650px;
  margin: auto;
  font-size: 1.25em;
}

/* Post List */
.post-list {
  margin: 5%;
}
.post-list h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
.post-list ul {
  list-style-type: none;
  padding: 0;
}
.post-list ul .icon {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  margin: 0;
  margin-right: 16px;
}
.post-list ul .icon img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 2px;
}
.post-list ul h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.post-list ul span {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
.post-list ul p {
  margin-top: 10px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Post page */
.post article {
  max-width: 700px;
  margin: auto;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300px;
  line-height: 25px;
}
.post article hr {
  border: 1px solid #b73c55;
}
.post article header h1 {
  font-size: 2em;
}
.post article a {
  color: #b73c55;
}
.post nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.post nav .right {
  text-align: right;
  right: 0;
  margin-left: 5px;
}
.post nav .left {
  text-align: left;
  left: 0;
  margin-right: 5px;
}
.post img {
  border: 2px solid #8fa3c4;
  border-radius: 5px;
}

/* Media */
img {
  max-width: 100%;
  vertical-align: middle;
}

figcaption {
  font-size: 0.9em;
  text-align: center;
  color: grey;
}

.video-container {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Tag page */
.tag-page {
  max-width: 800px;
  margin: auto;
}

/* Footer */
footer {
  display: flex;
  justify-content: right;
  text-align: center;
  margin: 20px;
}

.github-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url(/assets/icon/github.svg);
  vertical-align: baseline;
  margin: 5px;
}

.linkedin-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url(/assets/icon/linkedin.svg);
}

.email {
  margin: 5px;
}

/* Home page banner */
.cover-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
.cover-container .cover-banner {
  position: relative;
  border-radius: 30px;
}
.cover-container .cover-banner .home {
  -webkit-mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  mask: url(/assets/about/home-hk.svg) no-repeat center/auto 85vh;
  height: 90vh;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
  background-color: #b73c55;
}
.cover-container .cover-banner .me {
  background-image: url(/assets/about/me-0.svg);
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: auto 60%;
  width: 100vw;
  animation-fill-mode: forwards;
  animation-name: me-sayin-hello;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes me-sayin-hello {
  0% {
    background-image: url(/assets/about/me-1.svg);
  }
  23% {
    background-image: url(/assets/about/me-1.svg);
  }
  25% {
    background-image: url(/assets/about/me-2.svg);
  }
  47% {
    background-image: url(/assets/about/me-2.svg);
  }
  50% {
    background-image: url(/assets/about/me-3.svg);
  }
  73% {
    background-image: url(/assets/about/me-3.svg);
  }
  75% {
    background-image: url(/assets/about/me-4.svg);
  }
  98% {
    background-image: url(/assets/about/me-4.svg);
  }
  100% {
    background-image: url(/assets/about/me-5.svg);
  }
}
.switch-input {
  display: none;
}

.light-switch {
  z-index: 1;
  position: absolute;
  top: 30%;
  margin-left: 250px;
  left: 50%;
  display: block;
  width: 5vh;
  height: 5vh;
}
.light-switch .platform {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 80%;
  background: white;
  border: solid 1px #b73c55;
  border-radius: 3%;
}
.light-switch .platform .button {
  margin: auto;
  margin-top: 20%;
  width: 60%;
  height: 60%;
  background: #b73c55;
  border: solid 1px #b73c55;
  border-radius: 5%;
}
.light-switch .platform .switch {
  margin: auto;
  position: relative;
  width: 100%;
  height: 95%;
  border-radius: 5%;
  background-color: white;
}
.light-switch .platform .light {
  position: absolute;
  margin: auto;
  margin-left: 45%;
  margin-top: 70%;
  width: 10%;
  height: 5%;
  border-radius: 25%;
  background: #b73c55;
}

.about {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}
.about h1 {
  text-transform: uppercase;
}
.about p {
  line-height: 1.5em;
}

@keyframes moveSide1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveSide2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
#light-switch:checked ~ .cover-container .cover-banner {
  background-color: #2e2f26;
}
#light-switch:checked ~ .cover-container .home {
  background-color: #ddd;
}
#light-switch:checked ~ .cover-container .me {
  filter: brightness(0.75);
}
#light-switch:checked ~ .cover-container .me:after {
  content: "";
  background: radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent);
  background-position: 4% 39% , 26% 65% , 28% 63% , 62% 95% , 96% 96% , 34% 35% , 93% 56% , 79% 80% , 49% 51% , 70% 59% , 51% 100% , 43% 17% , 5% 10% , 75% 93% , 1% 68% , 34% 90% , 22% 91% , 54% 39% , 21% 26% , 75% 54% , 39% 36% , 80% 81% , 78% 32% , 88% 16% , 55% 10% , 8% 24% , 51% 81% , 25% 81% , 5% 10% , 20% 22% , 75% 79% , 4% 88% , 30% 23% , 46% 66% , 81% 78% , 12% 88% , 54% 61% , 85% 98% , 57% 55% , 74% 57% , 61% 41% , 63% 45% , 73% 64% , 51% 52% , 64% 47% , 42% 95% , 68% 43% , 67% 51% , 41% 14% , 83% 56% , 10% 41% , 6% 64% , 36% 54% , 5% 89% , 45% 21% , 71% 83% , 36% 87% , 52% 82% , 13% 87% , 54% 43% , 51% 3% , 33% 15% , 26% 48% , 71% 52% , 55% 46% , 5% 80% , 47% 33% , 1% 77% , 60% 63% , 88% 72% , 73% 92% , 56% 74% , 58% 33% , 94% 37% , 66% 82% , 80% 64% , 85% 3% , 5% 57% , 24% 49% , 72% 38%;
  background-size: 102px 102px , 72px 72px , 61px 61px , 85px 85px , 90px 90px , 88px 88px , 79px 79px , 93px 93px , 68px 68px , 100px 100px , 65px 65px , 75px 75px , 118px 118px , 116px 116px , 75px 75px , 111px 111px , 90px 90px , 116px 116px , 96px 96px , 79px 79px , 82px 82px , 93px 93px , 113px 113px , 66px 66px , 86px 86px , 90px 90px , 101px 101px , 61px 61px , 91px 91px , 75px 75px , 65px 65px , 120px 120px , 68px 68px , 111px 111px , 110px 110px , 105px 105px , 96px 96px , 78px 78px , 62px 62px , 78px 78px , 91px 91px , 85px 85px , 106px 106px , 118px 118px , 76px 76px , 66px 66px , 117px 117px , 77px 77px , 96px 96px , 104px 104px , 70px 70px , 86px 86px , 69px 69px , 84px 84px , 93px 93px , 85px 85px , 111px 111px , 81px 81px , 81px 81px , 119px 119px , 87px 87px , 107px 107px , 70px 70px , 112px 112px , 71px 71px , 72px 72px , 93px 93px , 91px 91px , 81px 81px , 90px 90px , 120px 120px , 105px 105px , 71px 71px , 85px 85px , 67px 67px , 65px 65px , 78px 78px , 75px 75px , 61px 61px , 106px 106px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide1 10s linear infinite;
}
#light-switch:checked ~ .cover-container .me:before {
  content: "";
  background: radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, orange 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, blue 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, purple 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent) , radial-gradient(farthest-side, yellow 80%, transparent) , radial-gradient(farthest-side, green 80%, transparent) , radial-gradient(farthest-side, red 80%, transparent);
  background-position: 10% 98% , 60% 33% , 43% 66% , 27% 28% , 27% 1% , 86% 10% , 75% 31% , 95% 48% , 67% 37% , 77% 99% , 26% 90% , 40% 5% , 80% 94% , 87% 90% , 70% 42% , 94% 28% , 75% 67% , 91% 36% , 12% 11% , 74% 50% , 21% 48% , 55% 26% , 20% 55% , 67% 13% , 85% 29% , 6% 80% , 13% 68% , 74% 99% , 96% 78% , 73% 7% , 75% 37% , 36% 36% , 7% 33% , 59% 91% , 5% 97% , 82% 52% , 45% 79% , 53% 91% , 77% 41% , 72% 59% , 95% 45% , 37% 43% , 44% 54% , 76% 23% , 35% 72% , 7% 56% , 97% 24% , 59% 93% , 8% 44% , 25% 72% , 70% 94% , 6% 84% , 10% 48% , 80% 16% , 96% 81% , 10% 83% , 8% 15% , 34% 36% , 14% 4% , 72% 66% , 35% 10% , 72% 85% , 89% 70% , 39% 79% , 7% 85% , 52% 91% , 24% 12% , 58% 89% , 55% 67% , 88% 65% , 43% 64% , 19% 88% , 68% 69% , 3% 39% , 67% 8% , 67% 53% , 92% 19% , 49% 10% , 14% 69% , 5% 3%;
  background-size: 72px 72px , 64px 64px , 69px 69px , 99px 99px , 67px 67px , 88px 88px , 83px 83px , 69px 69px , 108px 108px , 82px 82px , 82px 82px , 98px 98px , 68px 68px , 67px 67px , 96px 96px , 67px 67px , 85px 85px , 93px 93px , 89px 89px , 118px 118px , 64px 64px , 75px 75px , 80px 80px , 114px 114px , 66px 66px , 86px 86px , 75px 75px , 64px 64px , 108px 108px , 91px 91px , 110px 110px , 112px 112px , 103px 103px , 84px 84px , 117px 117px , 115px 115px , 61px 61px , 79px 79px , 94px 94px , 67px 67px , 93px 93px , 100px 100px , 114px 114px , 114px 114px , 62px 62px , 104px 104px , 62px 62px , 72px 72px , 119px 119px , 108px 108px , 111px 111px , 108px 108px , 105px 105px , 119px 119px , 65px 65px , 70px 70px , 63px 63px , 106px 106px , 117px 117px , 90px 90px , 92px 92px , 113px 113px , 103px 103px , 118px 118px , 117px 117px , 102px 102px , 100px 100px , 81px 81px , 118px 118px , 92px 92px , 75px 75px , 117px 117px , 101px 101px , 94px 94px , 109px 109px , 113px 113px , 96px 96px , 110px 110px , 76px 76px , 69px 69px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  background-repeat: no-repeat;
  animation: moveSide2 10s linear infinite;
}

#light-switch:checked ~ #light-switch-label .platform {
  background: #2e2f26;
  border: solid 1px #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .button {
  background: #ddd;
  border-color: #ddd;
}
#light-switch:checked ~ #light-switch-label .platform .switch {
  background-color: #2e2f26;
  margin-top: 4%;
}
#light-switch:checked ~ #light-switch-label .platform .light {
  background: yellow;
}

/** Media responsiveness **/
@media only screen and (max-width: 625px) {
  #light-switch,
  #light-switch-label {
    display: none;
  }
}